<%#= form_with(model: current_user.active_relationships.build, local: true) do |f| %>

<!--  form_withのlocal: true を remote: true に変更するだけで Ajax通信に切り替えることができる  -->
<%= form_with(model: current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>